@page
@model Website.Pages.IndexModel
@{
    ViewData["Title"] = "Cowbow Cafe Menu";
}

@using CowboyCafe.Data

<h1>Cowboy Cafe Menu</h1>
<p>
    We at Cowboy Cafe are proud to bring you authentic trail meals
    from the American West. Shake off the dust on your boots and sake
    your thirst with one of our old-fashioned hand-jerked sodas. Dip your
    Pan de Campo into a bowl of beans. Or conquer the the mighty Texas
    Triple Burger! You’ve had a hard ride - so take it easy with us.
</p>

<h2>Entrees</h2>
@foreach(IOrderItem item in Menu.AllDrinks)
{
<div class="menu-item">
    <h3>@item.</h3>
    <p>
        Price: $@item.Price.ToString("0.00")
    </p>
    <p>
        Calories: @item.
    </p>
</div>
}

<h2 class="display-4">Sides</h2>
<h2 class="display-4">Drinks</h2>

